@use "colors" as *;
@use "sass:color";

$panel-bg-default: light-dark($zinc-50, $zinc-850);
$accent-bg-default: light-dark($zinc-100, $zinc-700);

$panel-bg-success: light-dark(#{color.mix($zinc-50, $green-50)}, $jade-800);
$accent-bg-success: light-dark(#{color.mix($zinc-100, $green-100)}, $jade-700);

$panel-bg-warning: light-dark($amber-50, $yellow-800);
$accent-bg-warning: light-dark($amber-100, $yellow-700);

$panel-bg-failure: light-dark($red-100, #{color.mix($orange-800,$orange-850)});
$accent-bg-failure: light-dark($red-200, $orange-750);

$main-fg: light-dark($zinc-750, $zinc-200);
$main-bg: light-dark($white, #{color.mix($slate-950, $slate-900)});

$dim-fg: light-dark($zinc-600, $zinc-300);

$nav-bg: light-dark($zinc-50, $slate-850);

$code-fg: light-dark($zinc-750, $zinc-200);
$code-bg: light-dark($slate-100, $slate-800);

@mixin block {
	box-shadow: 0 .1rem .2rem #0000001e, 0 .1rem .2rem #0000003c;
}
