@use "colors" as *;
@use "sass:color";

@use "theme" as *;

@use "resets";
@use "page";
@use "helpers";

@use "generic_components/table";
@use "generic_components/navbar";
@use "generic_components/columns";
@use "generic_components/header";
@use "generic_components/footer";
@use "generic_components/headings";
@use "generic_components/jumbotron";
@use "generic_components/ul";
@use "generic_components/pre";
@use "custom_components/logs";
@use "custom_components/news";

body {
	color: $main-fg;
	background-color: $main-bg;
	font-family: system-ui,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Helvetica,Arial,Helvetica Neue,sans-serif;

	// from picocss, but one step smaller
	@media (min-width: 768px) { font-size: 106.25%; }
	@media (min-width: 1024px) { font-size: 112.5%; }
	@media (min-width: 1216px) { font-size: 118.75%; }
	@media (min-width: 1408px) { font-size: 125%; }
}

a:link, a:visited {
	color: light-dark($azure-550, $azure-350);
}
