{% extends "_base.html" %}
{% block title %}Project {{ project.name }} - {{ super() }}{% endblock %}
{% block header %}Project {{ project.name }}{% endblock %}
{% block content %}

<p>
	Known since {{ project.created_at.format(time::macros::format_description!("[year]-[month]-[day]")).unwrap() }}, see on <a href="https://repology.org/project/{{ project.name }}">repology</a>.
</p>

{% for section in sections %}
<h2>{{ section.version }}</h2>
<div class="logs-grid">
	{%- for log in section.logs %}
	<div class="log-panel log-panel--
		{%- match log.verdict %}
			{%- when Verdict::NotParsed %}default
			{%- when Verdict::Success %}success
			{%- when Verdict::Warning %}warning
			{%- when Verdict::Failure %}failure
		{%- endmatch -%}
	">
		<div class="log-panel__header columns columns--justify">
			<div><h3><a href="{{ crate::routes::Route::Snippets.url_for().path_param("id", log.id)?.build()? }}">{{ log.variant }}</a></h3></div>
			<div class="is-right"><a title="Note: content at this location may have been changed or removed" href="{{ log.url }}">source</a></div>
		</div>
		<div class="log-panel__section">
			<dl class="dl--condensed-within">
				{%- if let Some(last_modified) = log.last_modified %}
				<dt>Date</dt>
				<dd>{{ last_modified.format(time::macros::format_description!("[year]-[month]-[day]")).unwrap() }}</dd>
				{%- endif %}

				<dt>Fetched</dt>
				<dd>{{ log.created_at.format(time::macros::format_description!("[year]-[month]-[day]")).unwrap() }}</dd>

				<dt>Package</dt>
				{%- let long = log.binary_pkgname.as_deref().unwrap_or_default().len() > 20 || log.source_pkgname.as_deref().unwrap_or_default().len() > 20 %}
				<dd{% if long %} class="dd--smaller"{% endif %}>
					{%- let both = log.binary_pkgname.is_some() && log.source_pkgname.is_some() %}
					{%- let same = log.binary_pkgname == log.source_pkgname %}
					{%- if let Some(binary_pkgname) = log.binary_pkgname %}
						{{- binary_pkgname }}
					{%- endif %}
					{%- if let Some(source_pkgname) = log.source_pkgname && !same %}
						{%- if both %}{% if long %}<br>{% else %} {% endif %}({% endif %}
						{{- source_pkgname }}
						{%- if both %}){% endif %}
					{%- endif %}
				</dd>

				<dt>Size</dt>
				<dd>{{ log.size }}{% if log.is_truncated %} (truncated){% endif %}</dd>

				{%- if log.counts.lines > 0 %}
				<dt>Lines</dt>
				<dd>{{ log.counts.lines }}</dd>
				{%- endif %}

				{%- if log.counts.warnings > 0 %}
				<dt>Warnings</dt>
				<dd><a href="{{ crate::routes::Route::Snippets.url_for().path_param("id", log.id)?.build()? }}">{{ log.counts.warnings }}</a></dd>
				{%- endif %}

				{%- if log.counts.has_tests() %}
				<dt>Tests</dt>
				<dd>
					<span class="tests-counter tests-counter--passed" title="passed tests">{{ log.counts.passed_tests }}</span>
					{{- "+" -}}
					<span class="tests-counter tests-counter--skipped" title="skipped tests">{{ log.counts.skipped_tests }}</span>
					{{- "+" -}}
					<span class="tests-counter tests-counter--failed" title="failed tests"><a href="{{ crate::routes::Route::Snippets.url_for().path_param("id", log.id)?.build()? }}">{{ log.counts.failed_tests }}</a></span>
				</dd>
				{%- endif %}
			</dl>
		</div>
	</div>
	{% endfor %}
</div>
{% endfor %}

{% endblock content %}
