{% extends "_base.html" %}
{% block title %}Project {{ project.name }} - {{ super() }}{% endblock %}
{% block header %}Project {{ project.name }}{% endblock %}
{% block content %}

<p>
	Known since {{ project.created_at.format(time::macros::format_description!("[year]-[month]-[day]")).unwrap() }}, discovered via <a href="https://repology.org/project/{{ project.name }}">repology</a>.
</p>

{% for section in sections %}
<h2>Version {{ section.version }}</h2>
<section>
	<ul>
		{% for log in section.logs %}
		<li>
			{% let fetched = log.created_at.format(time::macros::format_description!("[year]-[month]-[day]")).unwrap() %}
			{% if let Some(last_modified) = log.last_modified %}
				{{ last_modified.format(time::macros::format_description!("[year]-[month]-[day]")).unwrap() }} (fetched {{ fetched }})
			{% else %}
				fetched {{ fetched }}
			{% endif %}
			{{ log.variant }}
			: {{ log.size}} bytes, {{ log.parsed_num_lines.unwrap_or_default() }} lines
			{% if let Some(snippet_counts) = log.parsed_snippet_counts %}
				{% if let Some(num_warnings) = snippet_counts.get(&wiyci_common::models::snippets::SnippetKind::CompilerWarning) && **num_warnings > 0 %}
					, warnings: {{ num_warnings }}
				{% endif %}
			{% endif %}
			(<a href="{{ log.url }}">original log</a>)
		</li>
		{% endfor %}
	</ul>
<section>
{% endfor %}

{% endblock content %}
