{% extends "_base.html" %}
{% block title %}wiyci{% endblock %}
{% block pageheader %}{% endblock %}
{% block content %}

<header class="jumbotron">
	<h1>The World Is Your CI (beta)</h1>
	<p><strong>wiyci</strong> aggregates downstream build logs of Free and Open Source software projects and presents them as a typical Continuous Integration platform would, highlighting compiler warnings and failed tests. We hope to increase upstream awareness of downstream build problems and encourage the community to contribute fixes.</p>
	<p><strong>wiyci</strong> currently sources build logs from <strong>Alpine</strong>, <strong>Fedora</strong>, <strong>Nix</strong>, and <strong>FreeBSD</strong>, covering a variety of kernels (<strong>Linux</strong>, <strong>FreeBSD</strong>, <strong>Darwin</strong>), system libraries (<strong>glibc</strong>, <strong>musl</strong>, <strong>FreeBSD libc</strong>, <strong>Apple libc</strong>), hardware architectures (<strong>x86_64</strong>, <strong>x86</strong>, <strong>arm</strong>, <strong>aarch64</strong>, <strong>loongarch64</strong>, <strong>ppc64</strong>, <strong>riscv64</strong>, <strong>s390x</strong>), and numerous{# may change to "countless" as we grow #} toolchains.</p>
	<p>Feel free to suggest more <a href="https://github.com/AMDmi3/wiyci/issues/31">build log sources</a>, more <a href="https://github.com/AMDmi3/wiyci/issues/14">facts to parse</a>, or projects not yet covered that you're interested in.</p>
</header>

<section>
	<h2>News</h2>

	<dl class="news">
		<div class="news__item">
			<dt><time datetime="2026-08-12">2026-08-12</time></dt>
			<dd>Nix source added, including Darwin builds</dd>
		</div>
		<div class="news__item">
			<dt><time datetime="2026-08-11">2026-08-11</time></dt>
			<dd>Coverage increased to ~10k projects</dd>
		</div>
		<div class="news__item">
			<dt><time datetime="2026-08-06">2026-08-06</time></dt>
			<dd>Added recent problematic builds log</dd>
		</div>
		<div class="news__item">
			<dt><time datetime="2026-08-01">2026-08-01</time></dt>
			<dd>Problems with domain, temporarily hosting <a href="https://wiyci.repology.org">here</a></dd>
		</div>
		<div class="news__item">
			<dt><time datetime="2026-07-18">2026-07-18</time></dt>
			<dd>Public launch!</dd>
		</div>
	</dl>
</section>

<section>
	<h2>Search projects</h2>
	<form action="{{ crate::routes::Route::Projects.url_for().build()? }}" method="GET" class="search-form">
		<input type="text" name="search" placeholder="project name, e.g. &quot;firefox&quot;">
		<input type="submit" value="Go">
	</form>
</section>

{%- if !recent_problematic_versions.is_empty() %}
<section>
	<h2>Recent problems</h2>
	<table class="projects-table">
		<thead>
			<tr>
				<th class="projects-table__date-column">Ago</th>
				<th>Project</th>
				<th>Version</th>
				<th>Issues</th>
			</tr>
		</thead>
		<tbody>
		{%- for version in recent_problematic_versions %}
		{%- let num_warnings = version.max_snippet_counts.get(&SnippetKind::CompilerWarning).copied().unwrap_or_default() %}
		{%- let num_failed_tests = version.max_snippet_counts.get(&SnippetKind::FailedTest).copied().unwrap_or_default() %}
		{%- let fatal = num_failed_tests > 0 %}
		<tr class="{% if fatal %}projects-table__row--failure{% else %}projects-table__row--warning{% endif %}">
			<td class="projects-table__date-column">{{ version.created_at.format_elapsed() }}</td>
			<td><a href="{{ crate::routes::Route::Project.url_for().path_param("name", version.project_name)?.build()? }}">{{ version.project_name }}</a></td>
			<td><span class="version">{{ version.version }}</span></td>
			<td>
				<dl class="projects-table__issues-list">
					{%- if num_warnings > 0 %}<dt>Warnings</dt><dd>{{ num_warnings }}</dt></dd>{% endif %}
					{%- if num_failed_tests > 0 %}<dt>Failed tests</dt><dd>{{ num_failed_tests }}</dt></dd>{% endif %}
				</dl>
			</td>
		</tr>
		{%- endfor %}
		</tbody>
	</table>
</section>
{%- endif %}

{% endblock content %}
