{% extends "_base.html" %}
{% block title %}wiyci{% endblock %}
{% block pageheader %}{% endblock %}
{% block content %}

<header class="jumbotron">
	<h1>The World Is Your CI</h1>
	<p>F/OSS projects get packaged in distributions and repositories, <strong>wiyci</strong> collects package build logs from these and present in the form of CI builds.</p>
	<p>This can be useful to <strong>upstreams</strong> (gives an overview of downstream builders, and much wider variety of different build environments that any traditional CI would provide), <strong>contributors</strong> (easy way to find a project which need improvement), <strong>compiler developers</strong> (find cases where warnings are triggered, introduce new warning classes), <strong>platform developers</strong> (to find places to improve specific to their platform of interest).</p>
	<p><strong>wiyci</strong> is currently in Alpha, so service capabilities are limited. But we're growing!</p>
	<p><strong>wiyci</strong> currently supports build logs from <strong>Alpine</strong>, <strong>Fedora</strong> and <strong>FreeBSD</strong>. This already covers 2 different kernels, 2 different C libraries, and 8 hardware arhitectures. <a href="https://github.com/AMDmi3/wiyci/issues/31">Suggest</a> more sources!</p>
	<p><strong>wiyci</strong> currently parses C/C++ compiler <strong>warnings</strong> and CTest/Google Test/PyTest <strong>test failures</strong>. <a href="https://github.com/AMDmi3/wiyci/issues/14">Suggest</a> more useful facts to parse!</p>
	<p><strong>wiyci</strong> currently only supports a few dozen most popular projects. <a href="https://github.com/AMDmi3/wiyci/blob/master/wiyci-daemon/src/workers/discover.rs#L10">Suggest</a> a project you're really interested in!</p>
</header>

<section>
	<h2>News</h2>

	<dl class="news">
		<div class="news__item">
			<dt><time datetime="2026-07-18">2026-07-18</time></dt>
			<dd>Public release</dd>
		</div>
	</dl>
</section>

<section>
	<h2>Browse projects</h2>
	<p><a href="{{ crate::routes::Route::Projects.url_for().build()? }}">Go to projects</a></p>
	{#- <!-- not really useful as long as the supported projects s is limited -->
	<form action="{{ crate::routes::Route::Projects.url_for().build()? }}" method="GET">
		<input type="text" name="search" placeholder="search project name">
		<button type="submit">Go</button>
	</form>
	#}
</section>

{% endblock content %}
