{% extends "_base.html" %}
{% block title %}Items - {{ super() }}{% endblock %}
{% block header %}Items{% endblock %}
{% block content %}

<table>
	<thead>
		<tr>
			<th class="is-center">ID</th>
			<th class="is-center">Text</th>
			<th class="is-center">Time</th>
		</tr>
	</thead>
	<tbody>
		{%- for item in items %}
		<tr>
			<td class="is-center">{{ item.id }}</td>
			<td class="is-center"><a href="{{ crate::routes::Route::Item.url_for().path_param("id", item.id)?.build()? }}">{{ item.text }}</a></td>
			<td class="is-center">
				<span class="hide-on-mobile">{{ item.time.format(time::macros::format_description!("[year]-[month]-[day]")).unwrap() }}</span>
				{{ item.time.format(time::macros::format_description!("[hour]:[minute]:[second]")).unwrap() }}
			</td>
		</tr>
		{%- endfor %}
	</tbody>
</table>

{% endblock content %}
