@use "../colors" as *;
@use "../theme" as *;

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1 {
	font-size: 2rem;
	line-height: 1.125;
	color: light-dark($zinc-800, $zinc-50);
}

h2 {
	font-size: 1.75rem;
	line-height: 1.15;
	color: light-dark($zinc-750, $zinc-100);
}

h3 {
	font-size: 1.5rem;
	line-height: 1.175;
	color: light-dark($zinc-700, $zinc-200);
}

h4 {
	font-size: 1.25rem;
	line-height: 1.2;
	color: light-dark($zinc-650, $zinc-250);
}

h5 {
	font-size: 1.125rem;
	line-height: 1.225;
	color: light-dark($zinc-600, $zinc-300);
}

h6 {
	font-size: 1rem;
	line-height: 1.25;
	color: light-dark($zinc-550, $zinc-400);
}
