@use "../theme" as *;

// reset
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

// horizontal list
.list--horizontal {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.list--blocky > .list__item {
	display: inline-block;
	@include block;
	border-radius: .5rem;
	padding: .5rem;
    background-color: $nav-bg;
}

// these are temporary until we have proper projects list
// otherwise they should be in custom components instead
.list--blocky > .list__item--warning {
    background-color: $accent-bg-warning;
}

.list--blocky > .list__item--failure {
    background-color: $accent-bg-failure;
}
