@use "../theme" as *;

.logs-grid {
	display: grid;
	gap: 1rem;

	grid-template-columns: auto;
	@media (min-width: 768px) { grid-template-columns: 1fr 1fr; }
	@media (min-width: 1216px) { grid-template-columns: 1fr 1fr 1fr; }
}

.log-panel {
	@include block;
    display: flex;
    flex-direction: column;
    overflow: hidden;
	background-color: $panel-bg-default;
	border-radius: .5rem;
	overflow-wrap: break-word;
	text-wrap: balance;
}

.log-panel__header {
    padding: .5rem 1rem;
	background-color: $accent-bg-default;
}

.log-panel h3 {
	margin: 0;
	font-size: inherit;
	font-weight: bold;
	line-height: inherit;
	color: $main-fg;
}

.log-panel__section {
    padding: .5rem 1rem;
}

.log-panel--success {
	background-color: $panel-bg-success;
}

.log-panel--warning {
	background-color: $panel-bg-warning;
}

.log-panel--failure {
	background-color: $panel-bg-failure;
}

.log-panel--success .log-panel__header {
	background-color: $accent-bg-success;
}

.log-panel--warning .log-panel__header {
	background-color: $accent-bg-warning;
}

.log-panel--failure .log-panel__header {
	background-color: $accent-bg-failure;
}

.tests-counter {
	border-radius: .25rem;
	padding: 0 .25rem;
}

.tests-counter--passed {
	background-color: $accent-bg-success;
}

.tests-counter--skipped {
	background-color: $accent-bg-default;
}

.tests-counter--failed {
	background-color: $accent-bg-failure;
}
